@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif !important;
}
.bg_pinkGradient{
  background: linear-gradient(235.8deg, #7F04E3 -12.6%, #FF006B 106.18%);
}
.bg_pinkGradient:hover{
  background: linear-gradient(135.8deg, #7F04E3 22.6%, #FF006B 66.18%);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}